.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 120px;
  background: #fff;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.text {
  color: #3c009d;
  font-size: 42px;
  font-weight: 700;
}

.underline {
  width: 60px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}

.inputs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 70px;
  background: #f1f1f1;
  border-radius: 8px;
  transition: 0.3s;
}

.input:hover {
  background: #e6e6e6;
}

.input .icon {
  margin: 0 25px;
  font-size: 24px;
  color: #4c00b4;
}

.input input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: #333;
}

.forgot-password {
  padding-left: 62px;
  margin-top: 20px;
  color: #797979;
  font-size: 16px;
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
  font-weight: 600;
}

.submit-container {
  display: flex;
  margin: 50px auto 0;
  gap: 25px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  background: #3a008f;
}

.gray {
  background-color: #EAEAEA;
  color: #676767;
}